# dependencies
/node_modules

# next.js / build
/.next/
/out/
/dist
/build
.turbo
.vercel
.tanstack
.wrangler

# env
.env
.env.local
.env.*.local

# Local Netlify folder
.netlify

# debug / coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage

# OS
.DS_Store
**/.DS_Store

# editor
.idea
.vscode
*.swp

# lighthouse / local audit dumps
lighthouse*.json
lh-*.json
localhost_*.json
